@font-face {
    font-family: 'Super Dream';
    src: url(Super-Dream.ttf); 
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 200vh;
}

.header{
    background: -webkit-linear-gradient(left, #ff7c5b, #F4A261, #E9C46A, #b0dfa0, #76abc0);
    border: 2px solid #20160d;
    display: block;
    height: 10vh;
    flex: 1;
    width: 100vw;
    position: fixed;
    z-index: 99;
}



.nav-bar{
    position: flex;
    display: inline;
    word-spacing: 2vw;
    margin-top: 3vh;
}

#links-left{
    float: left;
    display: inline;
    margin-top: 4vh;
    margin-left: 3vw;
}

#links-left a{
    padding: 1vw;
    text-decoration: none;
    color: #20160d;
    font-size: 1em;
    font-family: Helvetica;
}

.header img{
    position: fixed;
    display: inline;
    height: 14vh;
    border-radius: 360px;
    border: 1px solid #20160d;
    margin-top: 1.5vh;
    margin-left: 16vw;
    margin-right: auto;
}   

#links-right{
    float: right;
    display: inline;
    margin-top: 4vh;
    margin-right: 3vw;
}

#links-right a{
    padding: 1vw;
    text-decoration: none;
    color: #20160d;
    font-size: 1em;
    font-family: Helvetica;
}

.side-content{
    display: inline-block;
    border: solid 1px #20160d;
    background-color: #F4A261;
    height: 300vh;
    flex: 3;
}

#profile-pic{
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    margin-top: 50vh;
    margin-bottom: -18vh;
    display: block;
    height: 50vh;
    width: 25vw;
    border: 10px solid #E76F51;
    border-radius: 360px;
}
#icons{
    height: 4vw;
    margin-top: 20vh;
    margin-left: 6vw;
    border: 3px solid #E76F51;
    border-radius: 360px    ;
}

.content{
    width: 70vw;
    flex: 5;
    background-color: #ffe7d2;
}

.content h1{
    font-family: 'Super Dream';
    font-size: 4.5em;
    margin-top: 15vh;
    text-align: center;
    letter-spacing: 0.1vw;
}

.content h2{
    font-family: 'Super Dream';
    font-size: 3.3em;
    margin-top: 20vh;
    margin-left: 2vw;
    letter-spacing: 0.1vw;
}

.content ul{
    margin-left: 4vw;
    margin-top: 2;
}

.footer{
    position: fixed;
    background: -webkit-linear-gradient(left, #ff7c5b, #F4A261, #E9C46A, #b0dfa0, #76abc0);
    border: 2px solid #20160d;
    height: 10vh;
    flex: 1;
    width: 100vw;
    bottom: 0px;
}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vh;
    text-transform: uppercase;
    margin-left: 3vw;
}